@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300,400,500,600,700,800&family=Oswald:wght@300&family=Neonderthaw&display=swap');

/*Colors---------------------------------------------------------*/
:root {
  --main-orange-color: #d86313;
  --main-yellow-color: #faf01d;
  --bg-orange-color: #ffba75;
  --bg-black-color: #080808;
}

/*Main---------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: var(--main-orange-color);
  background-color: var(--bg-black-color);
}

img {
  border: 2px solid var(--main-yellow-color);
  border-radius: 50%;
}

form {
  font-size: 12px;
}

form input {
  margin: -0.5em 0 1em;
  max-width: -webkit-fill-available;
  border: 1px solid var(--main-orange-color);
}

form .btn-submit {
  margin-top: 1em;
  background-color: var(--main-orange-color);
  color: white;
}

form .btn-submit:hover {
  background-color: white;
  color: var(--main-orange-color);
}

.alert-banner-sm {
  margin: 0px;
  font-size: 14px;
  padding: 10px;
  background-color: var(--main-orange-color);
}

.alert-banner-md {
  margin: 0px;
  padding: 10px;
  background-color: var(--main-orange-color);
}

.alert-banner-sm,
.alert-banner-md {
  position: relative;
  width: 100vw;
  text-align: center;
  padding: 2px 0 2px 0;
  border: 2px solid var(--bg-orange-color);
}

.alert-banner-sm a,
.alert-banner-md a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: large;
}

.navbar {
  border-top: 2px solid var(--main-orange-color);
  border-bottom: 2px solid var(--main-orange-color);
}

.nav-menu-container a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 8px;
}

.nav-menu-container .active {
  color: rgb(0, 0, 0);
  border: 2px solid var(--main-orange-color);
}

.nav-menu-container a:hover {
  text-decoration: underline;
}

.logo {
  position: relative;
  top: -10px;
  display: inline-block;
  height: 78px;
  width: 78px;
  background-image: url("../images/bg-logo-circular.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-container,
.nav-menu-container {
  position: relative;
  width: 100%;
  height: 57px;
  background-color: var(--main-yellow-color);
}

.logo-container {
  position: absolute;
  display: inline-block;
  height: 78px;
  width: 78px;
  z-index: 1;
}

.nav-logo-spacing {
  width: 80px;
}

.nav-menu-sm .nav-home-link,
.nav-menu-sm .nav-join-link {
  display: inline-block;
  margin: 0 auto;
  margin-top: 17px;
  font: 500 16px "Open Sans", sans-serif;
  text-decoration: none;
}

.nav-menu-md .nav-home-link,
.nav-menu-md .nav-join-link,
.nav-facilities-link,
.nav-contact-link {
  display: inline-block;
  margin: 0 auto;
  margin-top: 17px;
  font: 500 20px "Open Sans", sans-serif;
  text-decoration: none;
}

.nav-menu-container {
  display: flex;
}

.navbar .navigation {
  width: 85px;
}

/*Hamburger Icon Start---------------------------------------------------------*/
/*Hamburger Icon Styling Sourced from https://codepen.io/ngochuynh/pen/yKrvVZ with some styling customised*/

.p-menu1 {
  height: 100%;
}

/* Hamburger */
.hamburger1 {
  position: absolute;
  height: 45px;
  margin: 5px 10px 10px 10px;
  width: 45px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 120;
}

.hamburger1 div {
  background-color: rgb(0, 0, 0);
  position: relative;
  width: 40px;
  height: 5px;
  margin: 7px -20px 0 0;
}

#toggle1 {
  display: none;
}

#toggle1:checked+.hamburger1 .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked+.hamburger1 .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked+.hamburger1 .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}

#toggle1:checked~.menu1 {
  height: 234px;
}

/* Menu */
.menu1 {
  width: 100%;
  background-color: var(--main-yellow-color);
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 15px;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu1 a:first-child {
  margin-top: 57px;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font: 500 16px 'Open Sans', sans-serif;
}

.link1:hover {
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link2 {
  width: 100%;
  margin: 0;
  font: 500 16px 'Open Sans', sans-serif;
}

.link2:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*Hamburger Icon End---------------------------------------------------------*/

.hero-container {
  position: relative;
  background-image: url("../images/hero-sm.png");
  background-size: cover;
  background-position-x: -200px;
  height: 60vh;
  z-index: -1;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.hero-container h1 {
  font-family: "Neonderthaw", cursive;
  font-size: 30px;
  padding-top: 10%;
  padding-left: 5%;
  color: var(--main-orange-color);
}

.hero-container p {
  font-family: "Neonderthaw", cursive;
  padding: 10px 2%;
  color: var(--main-yellow-color);
  position: absolute;
  bottom: 5%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0.4);
  border-radius: 20%;
}

#sale-info h1,
#memberships h1,
#facilities h1,
#classes h1,
#contact-us h1,
#contact h1 {
  text-align: center;
  padding-top: 2%;  
  border-top: 2px solid var(--main-orange-color);
}

#sale-info a,
#memberships a,
#classes a,
#contact-us a,
#contact a {
  text-decoration: none;
  color: var(--main-yellow-color);
  font-weight: 600;
}

#sale-info a:hover,
#memberships a:hover,
#classes a:hover,
#contact-us a:hover,
#contact a:hover {
  background-color: var(--main-yellow-color);
  color: var(--bg-black-color);
}

#open-modal a:hover {
  background: none;
}

.footer-socials a:hover {
  background-color: var(--bg-black-color);
  color: var(--main-yellow-color);
}

.home-image-container {
  text-align: center;
}

.home-image-container img {
  width: 80%;
  text-align: center;
}

#sale-info span {
  text-transform: uppercase;
  font-weight: 600;
}

/*Home Page Exclusive Items End----------------------------------------------*/

.boxed-div {
  border-top: 2px solid var(--main-orange-color);
  border-bottom: 2px solid var(--main-orange-color);
  width: 100vw;
  padding: 0.5em 2em 0 2em;  
  margin: 1em auto 0 auto;
}

.boxed-div h2 {
  text-decoration: underline;
  text-decoration-color: var(--main-orange-color);
  text-transform: uppercase;
}

.boxed-div strong {
  text-transform: uppercase;
}

#memberships h3 {
  color:var(--bg-black-color);
  text-decoration: underline;
  text-decoration-color: var(--bg-black-color);
  font-weight: 600;
  margin-top: 1rem;
}

.membership-option {
  border: 6px solid var(--main-orange-color);
  width: 60vw;
  margin: 10% auto;
  background-color: var(--main-yellow-color);
  padding: 0.5rem;
}

.membership-option p {
  border: 2px solid var(--main-orange-color);
  background-color: var(--bg-black-color);
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding: 0 2%;
}

/*Facilities Page Exclusive Items Start----------------------------------------------*/

.facilities-image-container {
  display: flex;
  margin: 1em 0;
}

#facilities p,
#classes p,
#memberships,
#contact {
  text-align: center;
}

/*Facilities Page Exclusive Items End----------------------------------------------*/
/*Contact Page Exclusive Items Start----------------------------------------------*/

table {
  margin: 0 auto;
}

.location-container p {
  line-height: 0.5;
}

.opening-times-container {
  margin-top: 2em;
}

.socials-body-container img {
  height: 4em;
  margin-bottom: 1em;
}

#contact h2 {
  text-decoration: underline;
  margin-top: 1em;
}

#fb-link,
#ig-link {
  margin-right: 1rem;
}

#twitter-link,
#yt-link {
  margin-left: 1rem;
}

/*Contact Page Exclusive Items End----------------------------------------------*/
/*MODAL STARTS HERE - FROM https://www.labnol.org/code/20083-modal-popup-css*/
.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  overflow-y: auto;
  text-align: center;
  display: none;
}

.modal-window:target {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.modal-window > div {
  width: 90%;
  position: relative;
  margin: 5% auto;
  padding: 2rem;
  background: var(--main-yellow-color);
  border: 10px solid var(--main-orange-color);
  color: rgb(0, 0, 0);
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  font-size: 200%;
  position: absolute;
  right: 1%;
  text-align: center;
  top: -2%;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

.modal-window h1 {
  font-size: 2rem;
  margin: 0 0 15px;
  font-weight: 600;
}

#open-modal a {
  color:rgb(0, 0, 0);
}

/*MODAL ENDS HERE - FROM https://www.labnol.org/code/20083-modal-popup-css*/
/*Footer Start---------------------------------------------------------------*/

footer {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  background-color: var(--main-yellow-color);
  border-top: 2px solid var(--main-orange-color);
  border-bottom: 2px solid var(--main-orange-color);
}

footer p {
  margin: 0;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer button span {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
}

.footer-items-container {
  position: relative;
  width: 100vw;
  height: 95px;
  overflow: hidden;
}

.footer-contact {
  position: absolute;
  float: left;
  height: auto;
  width: auto;
  margin: 0 auto;
  padding-top: 4px;
  padding-left: 2px;
}

.footer-return-to-top {
  margin-top: 25px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  text-align: center;
}

.footer-return-to-top button {
  font-size: 2em;
  border: none;
  background-color: inherit;
  text-align: center;
}

.footer-return-to-top a {
  color: inherit;
  text-decoration: none;
}

.footer-socials {
  color: inherit;
  position: relative;
  bottom: 70px;
  text-align: right;
  float: right;
  width: auto;
  margin: 0 auto;
  padding-right: 2px;
}

.footer-socials a {
  color: inherit;
  text-decoration: none;
  font-size: 2em;
  padding: 4px;
}

/*Footer End-----------------------------------------------------------------*/
/*Media Queries--------------------------------------------------------------*/
@media screen and (min-width: 769px) {

  form {
    font-size: 1.5em;
  }

  .contact-options {
    margin-right: 1em;
  }
  
  .alert-banner-sm {
    display: none;
  }

  .nav-menu-sm {
    display: none;
  }

  .hero-container {
    background-size: cover;
    background-image: url("../images/hero.jpg");
    background-position-x: 0;
  }

  .hero-container p {
    padding-left: 5%;
    font-size: 2em;
  }

  .home-image-container {
    margin-bottom: 1em;
  }

  .home-p1-img1-container,
  .home-p2-img2-container,
  .home-p3-img3-container {
    display: flex;
  }

  .home-p2-sm {
    display: none;
  }

  .home-p2-md {
    margin: 5% 0;
  }

  .home-p1 {
    float: left;
  }

  .home-p1 p {
    text-align: right;
    margin-top: 10%;
  }

  .home-p2 p {
    text-align: left;
    margin-top: 10%;
  }

  .home-p3 p {
    text-align: right;
    margin: 10% 0;
  }

  .home-img1 {
    float: right;
  }

  .home-p2 {
    float: right;
  }

  .home-img2 {
    float: left;
  }

  .home-p3 {
    float: left;
    margin: 1em;
  }

  .home-img3 {
    float: right;
  }

  .membership-option {
    width: 30vw;
    margin: 5% auto;
  }

  .membership-option-container {
    display: flex;
  }

  .membership-option-left {
    float: left;
  }

  .membership-option-right {
    float: right;
  }

  .boxed-div {
    border: 2px solid var(--main-orange-color);
    width: max-content;
    margin: 4em auto 0 auto;
  }

  .modal-window > div {
    width: 70%;
  }

  .radio-br {
    display: none;
  }

  .socials-body-container img {
    height: 7em;
  }

  footer button span {
    font-size: 14px;
  }

  footer {
    font-size: 14px;
  }

  .footer-items-container {
    height: 140px;
  }

  .footer-return-to-top {
    margin-top: 45px;
  }

  .footer-socials {
    bottom: 80px;
  }

  .footer-socials br {
    display: none;
  }

  .footer-socials-sm {
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .img-sm,
  .img-md,
  .img-lg {
    display: none;
  }

  .facilities-image-container img {
    width: 99%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 300px) {
  .nav-menu-container a {
    padding: 0;
    font-size: 0.8em;
  }

  #toggle1:checked~.menu1 {
    height: 160px;
  }
}

@media screen and (min-width: 391px) and (max-width: 768px) {
  
  form {
    font-size: 1em;
  }

  .hero-container {
    background-position-x: -10px;
  }  

  .hero-container h1 {
    padding-top: 5%;
    font-size: 4em;
  }

  .facilities-image-container img {
    width: 48%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 391px) and (max-width: 490px) {
  .hero-container {
    background-position-x: -100px;
  }
}

@media screen and (max-width: 768px) {

  .alert-banner-md {
    display: none;
  }

  .nav-menu-md {
    display: none;
  }

  .facilities-active {
    border-top: 4px solid var(--main-orange-color);
    border-right: 2px solid var(--main-orange-color);
    border-bottom: 2px solid var(--main-orange-color);
    border-left: 2px solid var(--main-orange-color);
  }
  
  .home-image-container {
    margin-bottom: 2%;
    text-align: center;
  }

  .home-p2-md {
    display: none;
  }

  .home-img3 {
    display: none;
  }

  .img-md,
  .img-lg {
    display: none;
  }

  .footer-socials {
    padding-top: 8px;
  }

  .footer-socials-md {
    display: none;
  }

  #sale-info p {
    text-align: center;
  }

  .img-lg {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .hero-container {
    background-size: cover;
    background-image: url("../images/hero.jpg");
    height: 75vh;
  }

  .home-p1,
  .home-p3 {
    width: 100%;
    padding-left: 1em;
  }

  .home-p2 {
    width: 100%;
    padding-right: 1em;
    text-align: right;
  }

  .home-p1-img1-container,
  .home-p2-img2-container,
  .home-p3-img3-container {
    margin: 0 2em;
  }

  .location-opening-container,
  .telephone-email-container,
  .socials-body-container {
    display: flex;
    width: 100%;
    margin-top: 2%;
  }

  .location-container,
  .telephone-container,
  .socials-left-container {
    float: left;
    margin: 0 auto;
  }
  
  .opening-times-container,
  .email-container,
  .socials-right-container {
    float: right;
    margin: 0 auto;
  }

  .socials-left-container {
    margin: 0 1rem 0 auto;
  }

  .socials-right-container {
    margin: 0 auto 0 1rem;
  }

  #open-modal a {
    font-size: 3em;
  }

  .footer-contact,
  .footer-socials {
    padding: 0 10px;
  }

  footer {
    font-size: 1em;
  }
}

@media screen and (min-width: 769px) and (max-width:1199px) {
  
  .hero-container h1 {
    font-size: 6em;
  }
  
  .img-lg {
    display: none;
  }

  .facilities-image-container img {
    width: 31%;
    margin: 0 auto;
  }

  .footer-items-container {
    height: 150px;
  }

  h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
  
  body {
    font-size: 20px;
  }

  .modal-window > div {
    width: 60%;
  }

  .alert-banner-md a {
    font-size: xx-large;
  }

  .hero-container h1 {
    font-size: 6em;
  }

  .nav-menu-container a {
    font-size: 1.5em;
    position: relative;
    bottom: 13%;
    padding: 5px;
  }

  .nav-menu-container a:hover {
    background-color: var(--bg-black-color);
    color: var(--main-yellow-color);
  }
  
  .nav-menu-container .active {
    border: 3px solid var(--main-orange-color);
  }

  .img-lg {
    display: visible;
  }

  .facilities-image-container img {
    width: 24%;
    margin: 0 auto;
  }

  .location-opening-container,
  .telephone-email-container,
  .socials-body-container {
    width: 80%;
    margin: 0 auto;
  }

  footer button span {
    font-size: 20px;
  }
  
  .footer-items-container {
    height: 190px;
  }
}

@media screen and (min-width: 1600px) {
  .home-p3 {
   padding-top: 5em;
  }

  .home-p3 p {
    margin: 5% 0;
  }

  .modal-window > div {
    width: 50%;
  }

  #facilities h1,
  #classes h1 {
    margin-bottom: -2%;
  }

  #facilities p,
  #classes p {
    margin: 4% 0;
    font-size: 2em;
  }
}

@media screen and (min-width: 2000px) {
  
  h1,
  h2,
  h3 {
    font-size: 4em;
  }

  p {
    font-size: 2em;
  }

  footer p {
    font-size: 1em;
  }

  .hero-container h1 {
    font-size: 8em;
    padding-top: 5%;
  }
  
  .alert-banner-md a {
    font-size: xxx-large;
  }

  .home-p1 p,
  .home-p2 p,
  #facilities p,
  #classes p {
    margin: 4% 0;
  }

  .home-p1 p,
  .home-p2 p,
  #facilities p,
  #classes p,
  #memberships p {
    font-size: 2em;
  }

  .home-p3 {
    padding-top: 2em;
   }

  .home-p3 p {
    font-size: 2em;
  }
  
  .modal-window > div {
    width: 40%;
  }

  .footer-contact,
  .footer-socials {
    padding: 0 20px;
  }
}